* { 
    padding: 0 ;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}
.clear{
    clear: both;
}
.text-dn{
    text-decoration: none;
}

.header{
    height: 79px;
    margin: 16px 150px 0;
    font-size: 18px;
    z-index: 10;
    display: flex;
    justify-content: space-between;
}
.announcement-bar{
    background-color: #fcbedb;
    padding: 1px;
}
.announcement-bar_message{
    margin-bottom: 0;
    padding: 12px 56px;
    font-weight: 550;
    font-size: 18px;
    font-family:'Courier New', Courier, monospace;
}

.header-search {
    border-radius: 12px;
    border: 1px solid grey;
    padding: 2px;
}

.header-search-input {
    width: 200px;
    height: 28px;
    font-family: sans-serif;
    font-size: 16px;
    padding-left: 9px;
    border: none;
    outline: none;
}

.fa-magnifying-glass {
    padding: 2px;
}

.header-logo-img {
    height: 120px;
    width: 160px;
    padding-top: 9px;
}

.vector-left,
.vector-center,
.vector-right{
    display: flex;
    align-items: center;
}

.nav{
    display: flex;
    justify-content: space-around;
    position: relative;
}

.nav li a {
    padding: 4px 10px;
    color: black;
    text-decoration: none;
}

.subnav li a:hover,
.header-user  a:hover,
.nav li a:hover{
    text-decoration: underline;
}

.nav .subnav {
    display: none;
    position: absolute;
    padding-left: 0;
}
.nav li:hover .subnav{
    display: block;
}
.subnav li {
    list-style: none;
    padding: 10px 0px;
}

.subnav{
    border: 1px solid #ebebeb   ;
    box-shadow: 2px 2px #888888;
    z-index: 100;
    background-color:#fff;
}
.slider{
    /* opacity: 0.8; */
}

.carousel-indicators{
    color: #000;
    background-color: #fff;
    margin-bottom: 100px;
}


/*Container*/

.container {
    margin: 40px 0 0 0;
    padding: 0;
    height: auto;
}

.container__best {
    margin: 36px 0;
}

.container__best-img {
    width: 1170px;
}

.fa-chevron-right, .fa-chevron-left {
    font-size: 2.5rem;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.5);
    padding: 0 16px;
    cursor: pointer;
}

.container__main-title, .container__promotion-title {
    height: 36px;
    position: relative;
    display: flex;
    justify-content: space-between;
}

.container__main-separator, .container__promotion-separator {
    height: 1px;
    width: 480px;
    margin-top: 18px;
    background-color: #888888;
}

.container__main-title-text, .container__promotion-title-text {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.8);
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-weight: 550;
    margin: 0;
}

/*Bán chạy*/

.container__main {
    display: flex;
    justify-content: space-between;
    margin: 32px 0 64px 0;
    width: 100%;
}

.container__main-item {
    position: relative;
}

.container__main-item-img {
    width: 400px;
    height: 250px;
}

.container__main-name {
    text-align: center;
    margin: 9px;
    font-size: 20px;
    font-style: italic;
}

.container__main-btn {
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin: 16px 0;
    font-size: 18px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.7);
    background-color: #fff;
    padding: 6px 9px;
    position: absolute;
    left: 150px;
    top: 280px;
}

/*Khuyến mãi*/

.container__promotion {
    display: flex;
    justify-content: space-between;
    margin: 32px 0 16px 0;
    width: 100%;
}

.container__promotion-item {
    position: relative;
}

.container__promotion-item-img {
    width: 230px;
    height: 180px;
}

.container__promotion-name {
    text-align: center;
    margin: 9px;
    font-size: 20px;
    font-style: italic;
}

.container__promotion-price {
    text-align: center;
    margin: 9px;
    font-size: 18px;
    font-style: italic;
}

.container__end {
    margin: 0 595px 32px 595px;
}

.container__end-btn {
    text-align: center;
    padding: 4px 12px;
    border-radius: 24px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    width: 100%;
}


/*Thông tin khách hàng để lại*/

.container__info {
    margin-bottom: 32px;
    background-color: whitesmoke;
    padding: 32px;
}

.container__info-title {
    font-size: 24px;
    font-weight: 550;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: rgb(88, 88, 7);
    margin-bottom: 16px;
}

.container__info-name, .container__info-phone {
    outline: none;
    border: none;
    border-bottom: 2px solid grey;
    margin-bottom: 16px;
    padding: 16px;
    width: 600px;
    height: 40px;
    border-radius: 5px;
}

.container__info-btn {
    width: 70px;
    text-align: center;
    background-color: aquamarine;
    padding: 4px 12px;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.7);
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 3px;
}

/*Footer*/

.footer {
    padding: 16px 0;
    background-color: #fcbedb;
}

.footer__group {
    text-align: center;
}

.footer__group-title {
    font-size: 18px;
    font-weight: 600;
}